body {
  background: peachpuff;
}
* {
  border: 1.5px solid black;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 01fr 1fr 1.2fr 01fr;
  grid-template-areas: 
  "a a a"
  "b c d"
  "e f g"
  "h h h";
  gap: 0.5rem;
}
.a {
  background-color: blue;
  grid-area: a;
}
.b {
  background-color: blueviolet;
  grid-area: b;
}
.c {
  background-color: brown;
  grid-area: c;
}
.d {
  background-color: burlywood;
  grid-area: d;
}
.e {
  background-color: cadetblue;
  grid-area: e;
}
.f {
  background-color: chartreuse;
  grid-area: f;
}
.g {
  background-color: chocolate;
  grid-area: g;
}
.h {
  background-color: coral;
  grid-area: h;
}
@media (min-width: 550px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 02fr 1.5fr 1.5fr;
    grid-template-areas: 
    "a a a a"
    "b c d h"
    "e f g h";
  }
}